/* Movie Logos Banner */

.home-screen-row {
  height: 100vh;
}

.movie-list-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 80%;
  margin: 0 auto;
}

.movie-logo {
  width: 30%;
  height: 35%;
  opacity: 0.9;
}
